In [ ]:
import pandas as pd
import numpy as np
import time
import requests
from selectolax.parser import HTMLParser

In [ ]:
r = requests.get('https://quotes.toscrape.com/')
print(r)

<Response [200]>

In [ ]:
html = HTMLParser(r.text)

In [ ]:
quotes = html.css('span.text')
quotes

[<Node span>,
 <Node span>,
 <Node span>,
 <Node span>,
 <Node span>,
 <Node span>,
 <Node span>,
 <Node span>,
 <Node span>,
 <Node span>]

In [ ]:
clean_quotes = []
for node in quotes:
  clean_quotes.append(node.text())

In [ ]:
#python list comprehension
clean_quotes = [node.text() for node in quotes]

In [ ]:
clean_quotes

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [ ]:
authors = html.css('small.author')
authors

[<Node small>,
 <Node small>,
 <Node small>,
 <Node small>,
 <Node small>,
 <Node small>,
 <Node small>,
 <Node small>,
 <Node small>,
 <Node small>]

In [ ]:
clean_authors = [node.text() for node in authors]
clean_authors

['Albert Einstein',
 'J.K. Rowling',
 'Albert Einstein',
 'Jane Austen',
 'Marilyn Monroe',
 'Albert Einstein',
 'André Gide',
 'Thomas A. Edison',
 'Eleanor Roosevelt',
 'Steve Martin']

In [ ]:
df = pd.DataFrame()
df['quotes'] = clean_quotes
df['authors'] = clean_authors

In [ ]:
df

                                              quotes            authors
0  “The world as we have created it is a process ...    Albert Einstein
1  “It is our choices, Harry, that show what we t...       J.K. Rowling
2  “There are only two ways to live your life. On...    Albert Einstein
3  “The person, be it gentleman or lady, who has ...        Jane Austen
4  “Imperfection is beauty, madness is genius and...     Marilyn Monroe
5  “Try not to become a man of success. Rather be...    Albert Einstein
6  “It is better to be hated for what you are tha...         André Gide
7  “I have not failed. I've just found 10,000 way...   Thomas A. Edison
8  “A woman is like a tea bag; you never know how...  Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...       Steve Martin

In [ ]:
url_list = []
for i in range(1,11):
  url = f'https://quotes.toscrape.com/page/{str(i)}/'
  url_list.append(url)
url_list

['https://quotes.toscrape.com/page/1/',
 'https://quotes.toscrape.com/page/2/',
 'https://quotes.toscrape.com/page/3/',
 'https://quotes.toscrape.com/page/4/',
 'https://quotes.toscrape.com/page/5/',
 'https://quotes.toscrape.com/page/6/',
 'https://quotes.toscrape.com/page/7/',
 'https://quotes.toscrape.com/page/8/',
 'https://quotes.toscrape.com/page/9/',
 'https://quotes.toscrape.com/page/10/']

In [ ]:
#list comprehension
url_compre = [f'https://quotes.toscrape.com/page/{str(i)}/' for i in range(1,11)]
url_compre

['https://quotes.toscrape.com/page/1/',
 'https://quotes.toscrape.com/page/2/',
 'https://quotes.toscrape.com/page/3/',
 'https://quotes.toscrape.com/page/4/',
 'https://quotes.toscrape.com/page/5/',
 'https://quotes.toscrape.com/page/6/',
 'https://quotes.toscrape.com/page/7/',
 'https://quotes.toscrape.com/page/8/',
 'https://quotes.toscrape.com/page/9/',
 'https://quotes.toscrape.com/page/10/']

In [ ]:
output_dict = {
    'quotes': [],
    'authors': []
}
for url in url_compre:
  r = requests.get(url)
  html = HTMLParser(r.text)

  #locate quotes and authors
  quotes = html.css('span.text')
  authors = html.css('small.author')

  for i in range(len(quotes)):
    output_dict['quotes'].append(quotes[i].text())
    output_dict['authors'].append(authors[i].text())

In [ ]:
df1 = pd.DataFrame(output_dict)

In [ ]:
df1

                                               quotes             authors
0   “The world as we have created it is a process ...     Albert Einstein
1   “It is our choices, Harry, that show what we t...        J.K. Rowling
2   “There are only two ways to live your life. On...     Albert Einstein
3   “The person, be it gentleman or lady, who has ...         Jane Austen
4   “Imperfection is beauty, madness is genius and...      Marilyn Monroe
..                                                ...                 ...
95  “You never really understand a person until yo...          Harper Lee
96  “You have to write the book that wants to be w...   Madeleine L'Engle
97  “Never tell the truth to people who are not wo...          Mark Twain
98        “A person's a person, no matter how small.”           Dr. Seuss
99  “... a mind needs books as a sword needs a whe...  George R.R. Martin

[100 rows x 2 columns]